/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: serif;
}
html {
    height: 100%;
    min-height: 100%;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}
a {
    color: inherit;
    text-decoration: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
:root {
    --gold: #a5823d;
    --maingreen: #009697;
    --lightgold: #e7a729    ;
    --lightgray: #f5f5f5;
    --borders: lightgrey;
    --footerborder: #dad9d7;
}
.container {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 20px;
}
.main-page {
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(200px, auto) / 1fr;
    align-items: center;
    min-height: 100vh;
    background-color: var(--lightgray);
}

.mcontent__pictures {
    display: grid;
    grid-template: auto 50px / 550px;
    align-items: center;
}
.mcontent__pictures img{
    object-fit: cover;
}
.menu__item-logo {
    color: var(--maingreen);
}
.img-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--borders);
    margin: 0 5px;
    transition: all .3s;
}
.img-circle:hover {
    background-color: gray;
}
.img-circle__active {
    background-color: rgb(63, 55, 55);
}
.img-circle__active:hover {
    background-color: rgb(63, 55, 55);
}
.circles {
    text-align: center;
}
.menu__list {
    display: grid;
    grid-template: 1fr / repeat(5, auto) 1fr auto auto;
    gap: 45px;
}

.menu__item-log {
    grid-column: 8/9;   
}
.menu__item {
    font-size: 18px;
    line-height: 40px;
    transition: all .3s;
}
.menu__item:hover{
    text-shadow: rgba(78, 78, 78, 0.3) 1px 0 5px;
}
.menu__item-logo {
    font-size: 31px;
}
.menu__item-number {
    grid-column: 7 / 8;
    font-size: 34px;
    color: var(--maingreen);
}
.mcontent {
    display: grid;
    grid-template: 1fr / 500px fit-content(800px);
    gap: 250px;
    margin: 0 auto;
}
.mbottom-block__item  {
    display: grid;
    text-align: center;
    font-size: 22px;
    align-items: center;
    grid-template: 100px 100px / 100px;
    
}
.mbottom-block__item img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.mbottom-block__items {
    display: grid;
    grid-auto-columns: 100px;
    grid-template: 1fr / repeat(9, 1fr);
}
.mcontent__title {
    font-size: 47px;
    color: var(--maingreen);
}
.mcontent__description {
    font-size: 20px;
    padding: 30px 0;
    padding-right: 200px;
}
.mcontent__sub-description {
    display: inline-block;
    font-size: 27px;
    color: var(--gold);
    padding-top: 30px;
    font-weight: 700;
    border-bottom: 4px solid var(--gold);
    transition: all .3s;
}
.mcontent__sub-description:hover {
    color: var(--lightgold);
    border-bottom: 4px solid var(--lightgold);

}
.mbottom-block > p {
    padding-bottom: 15px;
    font-size: 25px;
    color: var(--lightgold);
}

.gray-frame {
    background-color: var(--lightgray);
}
.btn {
    color: white;
}
.seach-form input {
    width: 300px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    height: 55px;
    padding: 4px;
}
.seach-form-btn {
    width: 180px;
    height: 55px;
    background-color: var(--maingreen);
    outline: none;
    border: none;
    border-radius: 5px;
}
.two-ways {
    padding-top: 70px;
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    grid-template: repeat(2, auto) /  1fr 1fr;
    column-gap: 60px;
}
.two-ways__title {
    font-size: 42px;
    text-align: center; 
}
.two-ways__title span {
    padding: 10px 0;
    display: inline-block;
    border-bottom: 2px solid black;   
}
.two-ways__description {
    font-size: 20px;
    padding-top: 30px;
}
.two-ways__middle-item {
    grid-column: span 2;
    margin: 0 auto;
    max-width: 700px;
}
.two-ways__item {
    display: grid;   
}
.two-ways__item-img {
    padding: 70px;
}
.two-ways__item-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 40px;
}
.two-ways__item-description {
    font-size: 20px;
}
.info-slider {
    position: relative;
    padding-top: 80px;
    
}
.info-slider__slide {
    display: grid;
    grid-template: 1fr auto / 1fr 1fr ;
    column-gap: 150px;
    row-gap: 80px;
    
}
.info-slider__img-box {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    height: 600px;

}
.info-slider__img-box .big {
    grid-row: 1/3;
    grid-column: 1/3;
    justify-self: right;
    align-self: end;
}
.info-slider__img-box .small {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-box {
    max-width: 600px;
    align-self: center;
    display: grid;
    gap: 40px;
}
.info-slider__title {
    color: var(--gold);
    font-size: 32px;
}
.info-slider__description {
    font-size: 22px;
}
.info-slider__author-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.info-slider__author {
    display: flex;
    gap: 20px;
}
.info-slider__author-name {
    margin: auto 0;
}
.info-slider__control {
    display: flex;
    gap: 80px;
    justify-content: center;
    grid-column: span 2;
}
.info-slider__btn {
    border: 2px solid var(--gold);
    border-radius: 10px;
    width: 325px;
    height: 70px;
    color: var(--gold);   
}
.info-slider__btn a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 23px;
    text-align: center;
    line-height: 65px;
    
}
.info-slider__btn-filled {
    color: white;
    background-color: var(--gold);
}
.arrow {
    width: 180px;
    height: 180px;
    background-color: var(--gold);
    color: white;
    line-height: 180px;
    text-align: center;
    font-size: 65px;
    transition: all .5s;
}
.arrow:hover {
    opacity: 0.6;
}
.info-slider__arrows {
    display: grid;
    position: absolute;
    width: 100%;
    top: 50%;
    grid-template: 1fr/ auto 1fr auto ;
    transform: translate(0, -25%);
}
.arrow-right {
    grid-column: 3/4;
}
.slider__description-btn a {
    display: inline-block;
    width: 100%;
    line-height: 100px;
    height: 100%;
}
.slider__info-container {
    max-width: 1550px;
    padding: 0 20px;
    margin: 0 auto;
}
.slider__description-btn {
    background-color: black;
    font-size: 22px;
    font-weight: 600;
    width: 250px;
    color: white;
 
    line-height: 90px;
    text-align: center;
    height: 100px;
    border-radius: 5px;
}
.slider__title {
    font-size: 45px;
    padding-bottom: 35px;
}
.slider__title span {
    display: inline-block;
    padding-top: 5px;
    border-bottom: 2px solid black;
}
.slider__description {
    font-size: 20px;
    max-width: 850px;
    padding: 20px;
}
.slider__description-block {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1410px;
}
.slider {
    overflow: hidden;
    padding-top: 60px;
}
.slider__block {
    display: grid;
    grid-template: 1fr / repeat(auto-fit,minmax(150px, 1fr));;
    gap: 80px;
    margin: 70px -100px 0 -100px;
}
.img-caption {
    padding: 10px;
}
.rating-mini {
	display: inline-block;
	font-size: 0;
    padding: 20px 0;
}
.rating-mini span {
	padding: 0 10px;
	font-size: 65px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
    transition: all 0.5s;
}
.rating-mini > span.active {
	color: black;
}
.rating-mini:hover > span.active {
	color: var(--lightgold);
}
.slider__rating-info {
    font-size: 18px;
    padding: 20px 0;
}
.slider__rating-info a{
    text-decoration: underline;
}
.slider__rating-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topics__banner {
    text-align: center;
    position: relative;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topics__banner::after {
    content: '';
    background: url('/img/violets.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0%;
    left: 0%;
    position: absolute;
    opacity: 0.300;
}
.topics__banner-title {
    font-size: 38px;
    color: var(--maingreen);
}
.topics__banner-description {
    font-size: 20px;
    padding: 20px 0;
}
button {
    cursor: pointer;
}
.topics__banner-button a{
    font-size: 38px;
    color: var(--gold);
    border-bottom: 1px dashed rgb(0, 0, 0);
}
.topics__container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 60px;
    border-top: 1px solid rgb(212, 212, 212);
    padding-top: 20px;
}
.items {
    display: grid;
    grid-auto-flow: row;
    
}
.topics__info-title {
    font-size: 22px;
    padding: 0 0 20px 0;
}
.item {
    display: grid;
    grid-template: 1fr / fit-content(70px) 400px;
}
.item__content {
    align-self: center;
    padding-left: 20px;
}
.item img {
    width: 100%;
    height: 100%;
}
.item__content-text {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 3px 0;
    font-size: 18px;
    transition: all .3s;
}
.item__content-text:hover {
    color: var(--maingreen);
}
.item__content-date {
    color: gray;
    font-size: 14px;
}

.grid-block {
    display: grid;
    grid-template: 80px 60px 1fr 60px 100px/ repeat(3, 1fr);
}
.footer {
    background-color: var(--lightgray);
    margin-top: 30px;
}
.footer-menu {
    justify-self: center;
    display: grid;
    grid-row: 3/4;
    grid-auto-flow: row;
    
}
.footer-menu li {
    line-height: 30px;
    
}
.footer-menu li a {
    transition: all .2s;
}
.footer-menu li a:hover {
    color: var(--lightgold);
}
.create-with-nature {
    font-size: 20px;
    line-height: 100px;
    color: var(--footerborder);
    text-align: center;
    grid-column: span 3;
    font-style: italic;
    border-bottom: 1px solid var(--footerborder);
}
.footer-container {
    max-width: 1600px;
    margin: 0 auto;
}
.underfooter {
    border-top: 1px solid var(--footerborder);
    grid-row: 5/6;
    display: grid;
    grid-column: span 3;
    align-items: center;
}
.footer-menu li {
    font-size: 20px;
}
.underfooter__menu {
    display: grid;
    grid-template: 1fr / repeat(8, auto);
    column-gap: 80px;
    justify-content: start;
}
.underfooter__item {
    font-size: 18px;
}
.footer-menu__name {
    color: var(--maingreen);
    font-size: 22px;
    font-weight: 600;
}
.underfooter__item-logo {
    color: var(--maingreen);
}
.underfooter__menu {
    color: var(--footerborder);
}

.slider__img-block-active, .slider__img-block  {
    position: relative;
    color: white;
}
.slider__img-block-active:hover .filter, .slider__img-block:hover .filter {
    opacity: 1;
}
.slider__img-block .filter span {
    display: none;
}
.slider__img-block-active .filter, .slider__img-block .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0;
    z-index: 5;
    background-color: rgba(7, 83, 7, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s;
}
.food-label {
    font-weight: 600;
    font-size: 42px;
}
.food-label-description {
    font-size: 22px;
}
.label-arrow {
    font-weight: 600;
    font-size: 34px;
}
